.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    height: 60px; /* Możesz dostosować wysokość */

    .image_logo_container 
    {
        height: 100%;
        min-width: 100px;

        .image_logo
        {
            height: 100%;
            width: auto;
            background-image: url('./pictures/logo_nobg.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.side-nav
{
    color: black;
}

mat-sidenav-container {
    height: 100%;
}



mat-sidenav {
    background-color: rgb(0, 0, 0);
    width: 200px;
    padding: 16px;
    border-radius: 0;
    
}

.sidenav_el
{
    cursor: pointer;
}

.sidenav_el:hover
{
    background-color: rgba(255, 255, 255, 0.4)
}

.sidenav_text 
{
    color: white;
    text-decoration: none;
}

.mat-drawer-inner-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

