<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <h3>Dodaj notatkę</h3>
    <mat-form-field appearance="fill" class="input-field input-field-1">
      <mat-label>Tytuł notatki</mat-label>
      <input matInput formControlName="clientName" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="input-field input-field-2">
      <mat-label>Godzina</mat-label>
      <mat-select formControlName="appointmentTime" required>
        <mat-option value="8">8:00</mat-option>
        <mat-option value="9">9:00</mat-option>
        <mat-option value="10">10:00</mat-option>
        <mat-option value="11">11:00</mat-option>
        <mat-option value="12">12:00</mat-option>
        <mat-option value="13">13:00</mat-option>
        <mat-option value="14">14:00</mat-option>
        <mat-option value="15">15:00</mat-option>
        <mat-option value="16">16:00</mat-option>
        <mat-option value="17">17:00</mat-option>
        <mat-option value="18">18:00</mat-option>
        <mat-option value="19">19:00</mat-option>
        <mat-option value="20">20:00</mat-option>
      </mat-select>
    </mat-form-field>

    
    
    <mat-form-field class="textarea-field" appearance="fill">
      <mat-label>Treść</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>
    
    <div>
    <button mat-flat-button type="submit">Zatwierdź</button>
    <button mat-flat-button (click)="onFetchPosts()">Odśwież</button>
    <button mat-raised-button (click)="onClearPosts()">Wyczyść notatnik</button>
    </div>
    
  </form>
  
</div>

<div class="row">
  <div class="row_cols">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h5>{{post.clientName}}</h5>
          <p>{{post.appointmentTime}}</p>
          <p>{{post.notes}}</p>
          <button class="warn" (click)="deletePost(post.id)">Usuń notatkę</button>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
  </div>
</div>

